In [7]:
# List of high schools 

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [8]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [10]:
# Add the Pandas Dependency

import pandas as pd

In [11]:
# Create a Pandas Series from a list. 

school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [12]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [34]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [35]:
schools_df = pd.DataFrame(high_school_dicts)

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
#New list of highschools
new_highschool_list = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrera High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodriguez High School", "type": "District"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"}]
#three lists and data frame

highschool_df = pd.DataFrame(new_highschool_list)
highschool_df["School ID"] = school_id
highschool_df["school_name"] = school_name
highschool_df["type"] = type_of_school

#print date frame
highschool_df

ValueError: Length of values does not match length of index